<section id="hero" class="mt-8 mx-auto flex flex-wrap items-center">
	<div
		class="mx-auto p-2 sm:p-8 text-center {{ with .Params.hero_media }} md:pl-0 md:w-1/2 transform -rotate-6 {{ else }} md:w-3/4 {{ end }}">
		<div>
			{{ .Content }}
		</div>
		<div class="mx-auto mt-8 mb-8 md:mb-0 flex justify-center">
			{{ range .Params.btn }}
			{{ $class := "border-2 border-indigo-700 bg-gradient-to-r from-white via-indigo-200 to-blue-200 hover:text-black text-black transform hover:scale-120 transition duration-100 hover:skew-x-3 hover:skew-y-12 hover:-rotate-10" }}
			{{ if .primary }}
			{{ $class = "border-2 border-pink-100 bg-gradient-to-r from-pink-500 to-pink-700 text-white hover:text-white transform hover:scale-110 transition duration-100 hover:skew-x-12 hover:skew-y-3 hover:-rotate-15"}}
			{{ end }}

			<a href="{{ .url | relLangURL }}" class="no-underline px-4 py-2 mx-2 rounded-sm text-center hover:bg-green-500 active:bg-green-600 transition duration-300 ease-in-out {{ $class }}">
					{{ .label }}
			</a>

			{{ end }}
		</div>
	</div>

	{{ with .Params.hero_media }}
	<div
		class="my-6 mx-auto max-w-3/4 sm:max-w-2/3 md:max-w-1/2 lg:relative lg:-right-12 xl:-right-16 relative">
		<img src="{{ . | relURL}}" alt="Brad Parbs" class="max-h-vh-3/4 shadow-md rounded-lg">
	</div>
	{{ end }}

</section>
