<section id="hero" class="mt-8 mx-auto flex flex-wrap items-center">
	<div
		class="mx-auto p-2 text-center md:pl-0 md:w-1/2 transform -rotate-6 hover:rotate-6 transition-transform ease-in-out duration-300">
		<div class="hero-content">
			{{ .Content }}
		</div>
	</div>

	{{ with .Params.hero_media }}
	<div
		class="my-6 mx-auto max-w-3/4 sm:max-w-2/3 md:max-w-1/2 relative">
		<img src="{{ . | relURL}}" alt="Brad Parbs" class="hero-image max-h-vh-3/4 shadow-md rounded-3xl border-4 border-pink-100 transform rotate-6 hover:rotate-12 transition-transform ease-in-out duration-300" width="324" height="312">
	</div>
	{{ end }}

</section>
