{{ define "main" }}
<h1 class="py-3 text-2xl tracking-tight sm:text-3xl">{{ .Title }}</h1>
<ul class="grid grid-cols-1 gap-5 py-6 mb-6 sm:gap-6 sm:grid-cols-2 lg:grid-cols-3">
	<li class="flex col-span-1 rounded-md shadow-sm">
		<div class="flex items-center justify-between flex-1 bg-white border border-gray-200 rounded-md shadow-md">
			<div class="flex-1 px-4 py-2 text-sm">
				<a href="{{ $.Params "link" }}" class="py-3 text-lg font-medium text-gray-900 hover:text-gray-600">{{ .Title }}</a>
				<p class="py-3 text-gray-500">{{ $.Params "description" }}</p>
				<a href="{{ $.Params "link" }}" class="py-3 text-sm text-indigo-500 hover:underline hover:text-indigo-800">Go to {{ .Title }} ➞</a>
			</div>
		</div>
	</li>
</ul>
{{ end }}
