<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{{ .Site.Title }} {{ if (and (ne .Title .Site.Title) (ne (len .Title) 0)) }} - {{ .Title }} {{ end }}</title>

		{{- partial "head/metadata.html" . -}}
		{{- partial "head/favicons.html" . -}}
		{{- partial "head/styles.html" . -}}
	</head>

	<body>
		<div class-="flex flex-col h-screen">
			<div id="top"></div>
			{{- partial "header/header" . -}}

			<main clas="min-h-64 mb-auto">
				{{- block "main" . }}{{- end }}
			</main>

			<footer class="bg-pink-100 h-5"></footer>
			{{- partial "footer/scripts" . -}}
		</div>
	</body>
</html>
