.sidebar .logo-title .title img {
    width: 200px;
}

.page-top .nav {
    font-size: 28px;
}

.page-top {
    height: 100px;
}

.page-top .nav a.current {
    padding-bottom: 0px;
}

.content {
    margin-top: 120px;
}
