{{ define "main" }}
<h1 class="font-bold text-3xl text-gray-700">
	Blog
</h1>

<div>
{{ $paginator := .Paginate (where .Pages "Type" "posts") }}
{{ range $paginator.Pages }}
	<section class="text-gray-700 body-font overflow-hidden">
		<div class="container px-5 py-10 mx-auto">
			<div class="-my-8">
				{{ partial "post-list-single.html" . }}
			</div>
		</div>
	</section>
{{ end }}

</div>

{{/* Pagination */}}
{{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
<hr class="mb-8 mt-24">
{{ end }}

<div class="flex justify-between items-center">
	{{ with $paginator.Prev }}
	<div class="flex-1">
		<a class="no-underline mr-4" href="{{ .URL }}">
			<img src="{{ "/images/top_arrow.svg" | relURL }}" class="transform -rotate-90 inline-block">
		</a>
		<a title="{{ i18n "previous" | title }}" href="{{ .URL }}">
			<span class="">{{ i18n "previous" | title }}</span>
		</a>
	</div>
	{{ end }}

	{{ if and ($paginator.HasPrev) ($paginator.HasNext) }}
	<span class="text-gray-600">|</span>
	{{ end }}

	{{ with $paginator.Next }}
	<div class="flex-1 text-right">
		<a title="{{ i18n "next" | title }}" href="{{ .URL }}">
			<span class="">{{ i18n "next" | title }}</span>
		</a>
		<a class="no-underline ml-4" href="{{ .URL }}">
			<img src="{{ "/images/top_arrow.svg" | relURL }}" class="transform rotate-90 inline-block">
		</a>
	</div>
	{{ end }}
</div>

{{ end }}
