<footer class="bg-pink-100">
	<div class="container flex flex-col items-center p-5 mx-auto mt-6 sm:flex-row main-width">
		{{- partialCached "component/logo" . -}}
		<span class="inline-flex justify-center mt-4 sm:justify-start sm:ml-auto sm:mt-0">
			<a href="https://github.com/bradp" title="GitHub" class="p-3 mx-2 my-2 transition-transform duration-300 ease-in-out transform bg-pink-800 rounded-full hover:scale-125 hover:rotate-12 active:scale-90" target="_blank" rel="noopener">
				<img src="{{ "images/github.svg" | absURL }}" alt="GitHub" class="w-4 h-4 md:w-6 md:h-6" width="24" height="24">
			</a>
			<a href="https://twitter.com/bradparbs" title="Twitter" class="p-3 mx-2 my-2 transition-transform duration-300 ease-in-out transform bg-pink-800 rounded-full hover:scale-125 hover:rotate-12 active:scale-90" target="_blank" rel="noopener">
				<img src="{{ "images/twitter.svg" | absURL }}" alt="Twitter" class="w-4 h-4 md:w-6 md:h-6" width="24" height="24">
			</a>
			<a href="mailto:brad@bradparbs.com" title="Email" class="p-3 mx-2 my-2 transition-transform duration-300 ease-in-out transform bg-pink-800 rounded-full hover:scale-125 hover:rotate-12 active:scale-90" target="_blank" rel="noopener">
				<img src="{{ "images/email.svg" | absURL }}" alt="Email" class="w-4 h-4 md:w-6 md:h-6" width="24" height="24">
			</a>
		</span>
	</div>
</footer>
