<div class="mb-4 border border-gray-300 rounded-md overflow-hidden">
	<a href="{{ .Permalink }}" class="no-underline block">
		{{/* A span is used instead a div for accessibiliy, <a> tag can't wrap div elements */}}
		<span class="block">
			<div class="px-4 mt-3 mb-3">
				<h2 class="m-0 inline-block overflow-ellipsis">{{ .Title | emojify }}</h2>
			</div>
			<div class="px-4 mb-3 text-gray-600 overflow-ellipsis">
				{{ with .Params.subtitle }}
				{{ . }}
				{{ else }}
				{{ substr .Plain 0 256 }}
				{{ end }}
				<span class="text-xs mt-3 block no-underline">{{ i18n "read_more" }}...</span>
			</div>
		</span>
	</a>
</div>
