<footer class="w-full h-24 text-center text-xs h-24 relative bg-gradient-to-r from-red-500 via-pink-500 to-purple-400">

	<div class="w-full pt-6 pb-6 flex flex-1 space-between items-center justify-evenly absolute-center">
		<a href="{{ .Site.Home.Permalink }}" class="m-0 text-lg text-white select-none no-underline">
			{{ .Site.Title }}
		</a>

		<div class="flex justify-center items-center flex-wrap">
			{{ range .Site.Params.social }}
			<a href="{{ .url }}" title="{{ .name }}"
				class="bg-pink-800 rounded-full p-3 mx-2 my-2 transform hover:scale-125 hover:rotate-12 active:scale-90 transition-transform duration-300 ease-in-out"
				target="_blank" rel="noopener">
				<img src="{{ .icon | relURL }}" alt="{{ .alt }}" class="w-4 h-4 md:w-6 md:h-6" width="24" height="24">
			</a>
			{{ end }}
		</div>
	</div>
</footer>
