<footer class="w-full h-24 text-center text-xs text-gray-400 h-24 relative bg-gradient-to-r from-red-500 via-pink-500 to-purple-400">

	<div class="w-full pt-6 pb-6 flex flex-1 space-between items-center justify-evenly absolute-center">
		<a href="{{ .Site.Home.Permalink }}" class="m-0 font-charter text-lg text-white font-thin select-none no-underline">
			{{ .Site.Title }}
		</a>

		<div class="flex justify-center items-center flex-wrap">
			{{ range .Site.Params.social }}
			<a href="{{ .url }}" title="{{ .name }}"
				class="bg-black rounded-full p-3 mx-2 my-2 transform hover:scale-110 hover:rotate-6 active:scale-90 transition-transform duration-300 ease-in-out"
				{{ if .blank }} target="_blank" {{ end }} {{ if strings.HasPrefix .url "http" }} rel="noopener" {{ end }}>
				<img src="{{ .icon | relURL }}" alt="{{ .alt }}" class="w-4 h-4 md:w-6 md:h-6">
			</a>
			{{ end }}
		</div>
	</div>
</footer>
