<header class="mx-auto text-gray-700 bg-pink-100">
	<div class="container flex flex-col items-center p-5 mx-auto mb-6 sm:flex-row main-width">
	{{/*  <div class="container flex flex-col flex-wrap items-center max-w-3xl p-5 mx-auto overflow-hidden md:flex-row">  */}}
		{{- partialCached "component/logo" . -}}
		{{ $page := . }}
			<ul class="flex flex-wrap items-center justify-center text-base md:ml-auto">
				{{- range .Site.Menus.main -}}
					<li class="mr-5 hover:text-gray-600 hover:underline {{ if $page.HasMenuCurrent " main" . }}bg-primary{{ end }}">
				{{- .Pre -}}<a class="text-gray-800" href="{{ .URL | absURL | safeURL }}" title="{{ .Name | safeHTML }}">{{- .Name | emojify |
					safeHTML -}}</a>{{- .Post -}}
			</li>
			{{ end }}
		</ul>
	</div>
</header>
